# Python para análise de dados

---

In [1]:
#Importando a biblioteca pandas
import pandas as pd

In [87]:
from pickle import TRUE
#Lendo o arquivo csv 
# Passando o argumento error_bad_lines=False para True porque estou forçando a ele carregar
#Coluna nulas ou duplicadas , depois passo o sep= que seria o separador o arquivo
Dataframe = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv",error_bad_lines=True ,sep=';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [88]:
#Mostrando a primeiras linhas 
# é possivel passar parâmetros de quantidade de linha que eu desejo visualizar
Dataframe.head(8)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945

In [89]:
#Renomeando as colunas 
df = Dataframe.rename(columns={"country":"Pais","continent":"Continente","year":"Anos","lifeExp":"Expectativa De Vida","pop":"População","gdpPercap":"PIB"})

In [90]:
#Retorna dados estatisticos dos dados
df.describe()

              Anos  Expectativa De Vida     População            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [91]:
#Retorna os tipos de dados
df.info

<bound method DataFrame.info of              Pais Continente  Anos  Expectativa De Vida  População         PIB
0     Afghanistan       Asia  1952               28.801    8425333  779.445314
1     Afghanistan       Asia  1957               30.332    9240934  820.853030
2     Afghanistan       Asia  1962               31.997   10267083  853.100710
3     Afghanistan       Asia  1967               34.020   11537966  836.197138
4     Afghanistan       Asia  1972               36.088   13079460  739.981106
...           ...        ...   ...                  ...        ...         ...
3307     Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308     Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309     Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310     Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311     Zimbabwe     Africa  2007               43.487   12311143  469.709298

[3312 rows x 6 columns]>

In [95]:
#Retornando a tabela de quantidades de continentes do pais 
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [96]:
#Retornando a média da espectativa de vida 
df.groupby("Pais")["Expectativa De Vida"].mean()

Pais
Afghanistan           37.478833
Albania               68.432917
Algeria               59.030167
Angola                37.883500
Argentina             69.060417
                        ...
Vietnam               57.479500
West Bank and Gaza    60.328667
Yemen, Rep.           46.780417
Zambia                45.996333
Zimbabwe              52.663167
Name: Expectativa De Vida, Length: 187, dtype: float64

In [105]:
#Retornando a média de  expectativa de vida por ano
df.groupby("Anos")["Expectativa De Vida"].median()

Anos
1950    64.2400
1951    65.9600
1952    45.3200
1953    67.4500
1954    68.1300
1955    68.5250
1956    68.6850
1957    48.5035
1958    69.7600
1959    69.9200
1960    69.7800
1961    70.4200
1962    52.0980
1963    70.2000
1964    70.6150
1965    70.5800
1966    71.0200
1967    55.6675
1968    70.7300
1969    70.7100
1970    70.9700
1971    71.2400
1972    59.5675
1973    71.5750
1974    72.0000
1975    72.2700
1976    72.4700
1977    61.3100
1978    73.1100
1979    73.3700
1980    73.6600
1981    73.9800
1982    64.3420
1983    74.4600
1984    74.6500
1985    74.5200
1986    74.7400
1987    66.2950
1988    75.0300
1989    75.3200
1990    75.2200
1991    75.4700
1992    68.2250
1993    75.8400
1994    76.3700
1995    76.4800
1996    76.5000
1997    69.0640
1998    77.0100
1999    77.5300
2000    77.7600
2001    77.9600
2002    70.7550
2003    77.9600
2004    78.6350
2005    78.2500
2006    79.2050
2007    71.6880
Name: Expectativa De Vida, dtype: float64